In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
#Reading Data
bikes = pd.read_csv(r'C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\bikes.csv')

In [4]:
type(bikes)
#to findout if it is a dataframe or not

pandas.core.frame.DataFrame

In [5]:
#head and tail methods
bikes.head() # shows first five rows

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [6]:
bikes.tail() #last five rows

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50084,17534938,Subscriber,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,41.897448,-87.628722,27.0,Clark St & Elm St,41.902973,-87.631280,27.0,5.0,10.0,16.1,-9999.0,partlycloudy
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [7]:
#Select a single column from a DataFrame- a Series
s= bikes['tripduration']  #selecting a single column from a dataframe as a series
s.head()

0     993
1     623
2    1040
3     667
4     130
Name: tripduration, dtype: int64

In [8]:
type(s)

pandas.core.series.Series

In [9]:
bikes['from_station_name'] # press tab to automatically fill in the column name
#bikes. #dot pachi tab press garda, can see all the available attributes

0           Lake Shore Dr & Monroe St
1        Clinton St & Washington Blvd
2        Sheffield Ave & Kingsbury St
3             Carpenter St & Huron St
4              Damen Ave & Pierce Ave
                     ...
50084           State St & Pearson St
50085        Halsted St & 35th St (*)
50086        Kingsbury St & Kinzie St
50087            Clinton St & Lake St
50088      Clarendon Ave & Leland Ave
Name: from_station_name, Length: 50089, dtype: object

In [10]:
#bikes.corr #shift+tab for documentation

In [11]:
events = bikes['events']
events.head()

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
Name: events, dtype: object

In [12]:
#what type of object is events?
type(events)

pandas.core.series.Series

In [13]:
bikes_last_2 = bikes.tail(2)
bikes_last_2

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [14]:
type(bikes_last_2)

pandas.core.frame.DataFrame

In [15]:
#Missing value reresentation
#NaN - Not a Number
#NaT- Not a Time
#pd.NA # A new missing value representation for pandas

In [16]:
#Finding the data type of each column
bikes.dtypes
#Not a method because no parenthesis

trip_id                int64
usertype              object
gender                object
starttime             object
stoptime              object
tripduration           int64
from_station_name     object
latitude_start       float64
longitude_start      float64
dpcapacity_start     float64
to_station_name       object
latitude_end         float64
longitude_end        float64
dpcapacity_end       float64
temperature          float64
visibility           float64
wind_speed           float64
precipitation        float64
events                object
dtype: object

In [17]:
#start time and stop time are as object bc we need to force pandas to read it as dates
#it does not do it by default so have to do it manually
bikes = pd.read_csv(r'C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\bikes.csv', parse_dates =['starttime','stoptime'])
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [18]:
bikes.dtypes
#64 represents 64bits..they can handle 64 bits of information

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

#Getting more metadata
- data types of each columns
- number of rows and columns
- amount of memory used

In [19]:
bikes.dtypes

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime             datetime64[ns]
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

In [20]:
bikes.shape

(50089, 19)

In [21]:
bikes.size #no.of rows times no.of columns

951691

In [22]:
len(bikes) # no. of rows

50089

In [23]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  datetime64[ns]
 4   stoptime           50089 non-null  datetime64[ns]
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(2), object(5)
memory usage: 7.3+ MB

In [24]:
#Setting a Meaningful Index
df= pd.read_csv(r"C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\sample_data.csv")
df

  Unnamed: 0 state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

set_index method

In [25]:
df.set_index('Unnamed: 0') #column name inside bracket

           state  color    food  age  height  score
Unnamed: 0
Jane          NY   blue   Steak   30     165    4.6
Niko          TX  green    Lamb    2      70    8.3
Aaron         FL    red   Mango   12     120    9.0
Penelope      AL  white   Apple    4      80    3.3
Dean          AK   gray  Cheese   32     180    1.8
Christina     TX  black   Melon   33     172    9.5
Cornelia      TX    red   Beans   69     150    2.2

In [26]:
df

  Unnamed: 0 state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [27]:
df2 = df.set_index('Unnamed: 0')
df2
#assigning to a new variable as it is not modified without doing so

           state  color    food  age  height  score
Unnamed: 0
Jane          NY   blue   Steak   30     165    4.6
Niko          TX  green    Lamb    2      70    8.3
Aaron         FL    red   Mango   12     120    9.0
Penelope      AL  white   Apple    4      80    3.3
Dean          AK   gray  Cheese   32     180    1.8
Christina     TX  black   Melon   33     172    9.5
Cornelia      TX    red   Beans   69     150    2.2

In [28]:
#separately accessing values

In [29]:
df2.index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object', name='Unnamed: 0')

In [30]:
df2.columns

Index(['state', 'color', 'food', 'age', 'height', 'score'], dtype='object')

In [31]:
df2.values

array([['NY', 'blue', 'Steak', 30, 165, 4.6],
       ['TX', 'green', 'Lamb', 2, 70, 8.3],
       ['FL', 'red', 'Mango', 12, 120, 9.0],
       ['AL', 'white', 'Apple', 4, 80, 3.3],
       ['AK', 'gray', 'Cheese', 32, 180, 1.8],
       ['TX', 'black', 'Melon', 33, 172, 9.5],
       ['TX', 'red', 'Beans', 69, 150, 2.2]], dtype=object)

In [32]:
movie= pd.read_csv(r"C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\movie.csv")

In [33]:
movie.index

RangeIndex(start=0, stop=4916, step=1)

In [43]:
#Setting an index on read
#To select a different column as index
movie= pd.read_csv(r"C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\movie.csv", index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

In [35]:
#Choosing a good index
#movie.set_index('title')

In [36]:
movie.index[-10:]

Index(['Primer', 'Cavite', 'El Mariachi', 'The Mongol King', 'Newlyweds',
       'Signed Sealed Delivered', 'The Following', 'A Plague So Pleasant',
       'Shanghai Calling', 'My Date with Drew'],
      dtype='object', name='title')

In [37]:
#single line of code to explore the data
movie.set_index('title')
#mathi ekchoti set garesi chet ig

KeyError: "None of ['title'] are in the columns"

In [ ]:
#Selecting Subsets of Data with just the Brackets
#The three indexers [], loc, iloc
#df[], df.loc[], df.iloc[]

In [ ]:
df= pd.read_csv(r"C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\sample_data.csv", index_col = 0)
df

In [ ]:
df['age'] #single column

In [ ]:
#To slect multiple columns with a list
df[['age','height']] #duita brackets chaiyo #inner brackets represents list , outer means subset selection

In [ ]:
#Use two lines of code to select multiple columns
cols = ['age','score']
df[cols]

In [ ]:
movie[['director_name','director_fb']]

In [ ]:
#Selecting single column as a data frame and not a series
movie[['director_fb']] #one column dataframe

#Selecting subsets of data from dataframes with loc
df.loc[rows, cols]
loc primarily slects data by label

In [ ]:
#Selecting two rows and three columns with loc
rows = ['Dean','Niko']
cols = ['state','food','score']
df.loc[rows,cols]
#one line ma garne vaye need two brackets

The possible types of row and column selections
A single label
A list of labels
A slice with labels
A boolean Series

In [ ]:
#Select two rows and a single column - series returned
rows = ['Jane','Dean']
cols = 'height' # single label or column. here it is a string, esma bracket rakhyo vane becomes one column dataframe
df.loc[rows,cols]

In [ ]:
df.loc[['Jane','Dean'],'height']
# same thing just in a single line

In [ ]:
df.loc[['Jane','Dean'],['height']] # height ma bracket rakhda...
#creating one item list..returns as a dataframe

loc with slice notation
- start: stop: step
- inclusive of stop label
- can slice rows and cols

In [ ]:
df

In [ ]:
df.loc['Niko':'Christina','color':'height'] # [rows, columns]

In [ ]:
df.loc['Niko':'Christina',['color','score']] #list in between

In [ ]:
#Selecting all of the rows and some of the columns
df.loc[:,:'age']

In [ ]:
#Using a single colon to select all the columns
df.loc['Niko':'Dean',:]

In [ ]:
#Selecting a single row and a single column
df.loc['Aaron','age']
#returned scalar value

In [ ]:
#Select a single row as a series with loc
df.loc['Aaron',:]

In [ ]:
#Selecting a single row as DataFrame
df.loc[['Aaron'],:]

In [ ]:
movie.dtypes
#Finding data type of the year column

#Selecting Subsets of Data from DataFrames with iloc
- selects by integer location instead of label
- df.iloc[rows,cols]
- excludes the last one

In [ ]:
rows = [2,4,0]
cols = [5,1]
df.iloc[rows,cols]

In [ ]:
movie.iloc[:,[10,5,1]]
#Selecting the columns with integer location 10,5,and 1

In [ ]:
#Selecting the rows with integer location 10,5,1
movie.iloc[[10,5,1],:]

In [ ]:
movie.iloc[100,4]
#returns scalar value

In [ ]:
#returning a 1x1 data frame
movie.iloc[[100],[4]]

#Selecting Subsets of Data from a Series
- []
- loc
- iloc

In [ ]:
#Selecting a series
imdb = movie['imdb_score']
imdb.head(3)

In [ ]:
imdb[100]

In [ ]:
#Boolean Selection Single Conditions
bikes.head(3)

In [ ]:
filt = bikes['tripduration'] > 1000
filt.head()

In [ ]:
bikes[filt].head()

In [ ]:
filt = bikes['events'] == 'partlycloudy'
bikes[filt].head()

In [ ]:
filt = bikes['temperature'] < 0
bikes[filt].head()

In [ ]:
filt = movie['imdb_score'] > 9
movie[filt].head()

#Boolean Selection Multiple Conditions
#Different logical operators for boolean Series
- & for and (ampersand character)
- | for or (pipe character)
- ~ for not (tilde character)

In [ ]:
#& condition
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 & filt2
bikes[filt].head()

In [ ]:
#Multiple conditions in one line
# Use parentheses to separate conditions

filt = (bikes['tripduration'] > 1000) & (bikes['gender'] == 'Male')
bikes[filt].head(3)

In [ ]:
#Using OR condition

In [ ]:
filt = (bikes['tripduration'] > 1000) | (bikes['gender'] == 'Male')
bikes[filt].head(3)

In [ ]:
#Inverting a condition with the not operator
filt = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 | filt2
bikes[~filt].head(3)

In [ ]:
# The isin method - to test equality of a certain number of strings
#Use this instead of using multiple OR conditions
#eutai category ma vaye milcha
filt = bikes['events'].isin(['rain','snow','tstorms','sleet'])
bikes[filt].head()

In [ ]:
filt1 = filt = bikes['events'].isin(['rain','snow','tstorms','sleet'])
filt2 = bikes['tripduration']>5000
bikes[filt1 & filt2]

In [ ]:
filt = (bikes['events'] =='snow') & (bikes['temperature'] > 30)
bikes[filt]. head(3)

In [ ]:
movie[(movie['imdb_score'] >= 8) & (movie['imdb_score'] <= 9)]

In [ ]:
filt = (movie['actor1_fb'] > 10000) | (movie['actor2_fb'] >10000) | (movie['actor3_fb'] >10000)
movie[filt]

In [ ]:
#Inverting the above condition
filt = (movie['actor1_fb'] > 10000) | (movie['actor2_fb'] >10000) | (movie['actor3_fb'] >10000)
movie[~filt]

In [ ]:
#Boolean Selection More
#Boolean selction on a series
temp = bikes['temperature']
temp.head(3)

In [ ]:
temp = bikes['temperature']
temp.head(3)

In [ ]:
filt = temp > 90
temp [filt]

In [ ]:
#The between method
temp.between(70, 80)

In [ ]:
#Boolean selection of rows and column labels with loc
bikes.head()

In [ ]:
filt = bikes['tripduration'] > 10000
bikes.loc[filt]

In [ ]:
bikes.loc[filt, ['gender','tripduration','events']].head()
# loc pachi it is rows, selected columns or subset of columns

In [ ]:
filt = (bikes['gender'] == 'Female') & (bikes['tripduration'] >5000) & (bikes['events'] == 'cloudy')
bikes.loc[filt]

In [ ]:
# To check if above filter worked or not
filt = (bikes['gender'] == 'Female') & (bikes['tripduration'] >5000) & (bikes['events'] == 'cloudy')
bikes.loc[filt, ['gender','tripduration','events']]

In [ ]:
#Column to column comparisons
filt = bikes['dpcapacity_start'] > bikes ['dpcapacity_end']
bikes[filt]

Boolean selection with iloc does not work

In [ ]:
#Finding missing values with isna
bikes.info()

In [ ]:
#Filtering for missing values
filt = bikes['dpcapacity_start'].isna() # are you na?
bikes[filt]

In [ ]:
#Selecting year, rating and imdb scores columns from 2016  with imdb scores less than 4
filt = (movie['year'] == 2016) & (movie['imdb_score'] < 4)
movie.loc[filt, ['year','content_rating','imdb_score']]

In [ ]:
#Selecting all the movies that are missing values for content rating
filt = movie['content_rating'].isna()
movie[filt].head()

In [ ]:
filt  = movie['gross'].isna() & movie['budget'].isna()
movie[filt].head()

In [ ]:
#One line ma garna
movie[movie['gross'].isna() & movie['budget'].isna()]

In [ ]:
#to only return gross and budget columns with that condition
movie.loc[movie['gross'].isna() & movie['budget'].isna(),['gross','budget']]

#Filtering with the Query Method
- used by creating a string and inside it create a filter

In [ ]:
bikes.query('tripduration > 5000').head()

In [ ]:
#Reference strings with quotes
#characters without quotes are considered column name**
bikes.query('events == "snow"').head()

In [ ]:
#Use strings and or not
bikes.query('gender == "Female" or tripduration > 5000').head()

In [ ]:
bikes.query('not (gender == "Female" or tripduration > 5000)').head()

In [ ]:
#Chained comparisons
10 < 20 < 40

In [ ]:
bikes.query('50 < temperature < 55').head()

In [ ]:
#Column to column comparisons
bikes.query('dpcapacity_start > dpcapacity_end').head()

In [ ]:
#Use in for multiple equalities
bikes.query('events in ["snow" , "tstorms"]').head()

In [ ]:
bikes.query('events not in ["snow" , "tstorms"]').head()

Use backticks ` ` to reference column names with spaces
`column name`

Summary of query method
- the expression in the string must evaluate as True or False for every row
- column names may be accessed directly with their name
- Often you will use one of the comparison operators to create a condition
- Use chained comparison operators to shorten syntax
- Use and, or, and not to create more complex conditions
- To use a literal string, surroung it with quotes
- Use "in" to test multiple equalities. Provide the test values in a list
- All arithmetic operators work just as they do outside of the string
- Use the @character to reference a variable name
- Use backticks to reference a column name with spaces in it

In [ ]:
#Miscellaneous subset selection

In [ ]:
#Essential Commands- Part 3

In [40]:
emp= pd.read_csv(r"C:\Users\Dell\Downloads\Essentional Commands1\Essentional Commands\data\employee.csv", parse_dates =['hire_date'])
emp.head(3)

,title,dept,salary,race,gender,hire_date
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26

In [ ]:
sal = emp['salary']
sal.head()

In [ ]:
type(sal)

In [ ]:
sal.index

In [ ]:
sal.values

In [ ]:
sal.shape
#returns a tuple with number of rows and column

In [ ]:
sal.size

In [ ]:
sal.dtype
#data type of that column

In [ ]:
len(sal)
#returns the number of values
#returns the number of rows

In [ ]:
#Arithmetic Operators
sal + 100000

In [ ]:
sal.head()

In [ ]:
sal > 80000

In [ ]:
sal == 66614
#To save this, have to save it in a new created variable

In [ ]:
#Boolean and bitwise operators
# and, or , not does not work with series

In [ ]:
(sal < 50000) | (sal > 85000)

In [ ]:
#Aggregation methods : min, max, sum, median - returns a single number to summarize the series
#Non aggregation methods: abs, round, cummin, cummax, cumsum- returns same no. of values in the series

In [ ]:
sal.min()

In [ ]:
sal.max()

In [ ]:
sal.mean()

In [ ]:
sal.median()

In [ ]:
#quantile- give value between 0 and 1
#basically percentile
sal.quantile(.99)

#count method : counts the number of non-missing values
- different from the length of the series

In [ ]:
sal.count()
#no of values that are not missing

In [ ]:
len(sal)
#total no. values

In [ ]:
#std and var: measure for the spread of the data

In [ ]:
sal.std()

In [ ]:
sal.var()

- pandas ignores missing values by default
- numpy does not ignore

In [ ]:
#do the below code to check for missing values
sal.mean(skipna= False) #skipna= true garyo vane it ignores the missing value and does the calculation

In [ ]:
sal.describe()
#returns several aggregations

#Non Aggregation methods
- returns an entire new series of values the same length as the original
- abs= absolute value

In [ ]:
sal.abs()
#returns negative as positive

In [ ]:
#round method- rounded to nearest one or change as per liking by typing in the bracket
sal.round(-3)

In [ ]:
sal.cummin().head()
#finds the cumulative minimum at each row/value

In [ ]:
sal.cummax().head()
#finds the cumulative maximum at each row/value

In [ ]:
sal.cumsum().head()

In [ ]:
#Series methods with a non default index

In [ ]:
score = movie['imdb_score']
score.head()

In [ ]:
score.mean()
#aggregation methods will work the same

In [ ]:
score.round()
#Non aggregation methods keep the index

#Operations on a boolean Series
- boolean values are treated as numeric (1/0)

In [ ]:
sal_50k = sal > 50000
sal_50k.head(10)

In [ ]:
sal_50k.sum()

In [ ]:
sal_50k.mean() * 100

In [ ]:
#Total no. of values it contains
len(score)

In [ ]:
#what is the datatype of score
score.head()

In [ ]:
score.dtypes

In [ ]:
#Series Missing Value Methods
duration = movie['duration']
duration.head()

#Methods for handling missing values
- isna- returns a series of booleans based on whether each value is missing or not
- notna- exact opposite of isna
- dropna- drops the missing values from the series
- fillna- fills missing values in a variety of ways
- interpolate- fills missing values with statistical interpolation
Note- boolean and integer columns do not allow missing values

In [ ]:
#isna method - test if each value is missing or not
duration.isna()

In [ ]:
duration.isna().sum()

In [ ]:
#finding percentage of missing values
duration.isna().mean()*100

In [ ]:
#notna method - tests whether each value is not missing
duration.notna()
#opposite of isna

In [ ]:
#dropping missing values with dropna
s= duration.dropna()

In [ ]:
len(s)

In [ ]:
len(duration)

In [ ]:
s.isna().sum()

- Filling missing values with the fillna method
- pass in some number () ma
- weight.fillna()

#Filling missing values with interpolate

In [ ]:
filt = duration > 100
filt2 = duration <= 100

In [ ]:
filt.sum()

In [ ]:
filt2.sum()

In [ ]:
filt.sum()+filt2.sum()

In [ ]:
len(duration)

In [ ]:
movie['year'].isna().sum()
#106 columns are chai missing

In [ ]:
language = movie['language']
filt = language.isna()
language2 = language.fillna('English')
language[filt]

In [ ]:
language2[filt]

In [ ]:
language2 = movie['language'].fillna('English')
language2

In [ ]:
movie['gross'].dropna()

In [ ]:
movie['gross'].count()

- Series sorting, ranking, and uniqueness
- sort_values - sorts from least to greatest by default
- To sort from greatest to least, set the ascending parameter to False

In [ ]:
score.sort_values()

In [ ]:
score.sort_values(ascending = False)

In [ ]:
#Sorting the index

In [ ]:
score.sort_index()
#sorts the index in alphabetical order based on the unicode

In [ ]:
#Ranking - provides a numerical ranking for each value
#Lowest rank is 1
# Does not sort

In [ ]:
score_10 = score.head(10)
score_10

In [ ]:
score_10.rank()

Ranking ties
- average- defailt, average ranks
- min- give each tie the minimum rank integer
- max - give each tie the maximum rank integer
- dense- same as min rank, but does not skip integers
- first - arbitarily give the tie that comes first in the dataset the lower/higher number

Uniqueness
- unique- returns a numpy array of all the unique values in order of their appearance
- nunique- returns the number of unique values in the series
- drop_duplicates- returns a pandas series of just the unique values. Like unique but returns a series

In [ ]:
# Unique method
rating = movie['content_rating']
rating.head()

In [ ]:
rating.unique()

In [ ]:
rating.nunique() #default ma does not include missing values

In [ ]:
rating.drop_duplicates()

In [ ]:
movie['year'].drop_duplicates().sort_values()

In [ ]:
movie['year'].sort_values().drop_duplicates()

#More Series Methods
- agg - Computes multiple aggregations at once
- idxmin and idxmax - Returns the index of the min/max value
- diff and pct_change - Finds the difference/percent change from one value to the next
- sample- Randomly samples values in a Series
- nsmallest/nlargest- Return the smallest/largest n values
- replace- Replace one or more value in a variety of ways

In [ ]:
#agg method
#like describe but allows us to choose our aggregations
score.agg(['median','std','var','min','nunique'])

In [ ]:
#index of the minimum and maximum
#idxmin/idxmax

In [ ]:
score.min(), score.max()

In [ ]:
score.idxmin()

In [ ]:
#the nsmallest and nlargest methods
#Returns the bottom/top n values

In [ ]:
score.sort_values().head()

In [ ]:
score.nsmallest(5)

In [ ]:
score.nlargest(4)
#top 4 movies

In [ ]:
#The replace method
color= movie['color']
color.head()

In [ ]:
color.replace('Color','Colour')

In [ ]:
score.head()

In [ ]:
score.replace(7.1,999).head()

In [ ]:
genres = movie['genres']
genres.head()

In [ ]:
genres.replace('Adventure','Adv')
#entire string is not adventure so doesnot work

In [ ]:
genres.replace('Adventure','Adv', regex= True)
#regex- looks for patterns within the string
#so for a substring replacement use regex

#String Series Methods
- works for both object and the new string data type
- Not all of the aggregatioion methods works for string
- Mean, Median doesnot work but min, max does

In [ ]:
dept = emp['dept']
dept.head()

In [ ]:
dept.isna().sum()

In [ ]:
#The value_counts method- counts occurrence of each value
#Series in returned with unique values in index and counts as values

In [ ]:
dept.value_counts()

In [ ]:
#Use normalize= True for relative frequency
dept.value_counts(normalize = True)

In [ ]:
#For percentage
dept.value_counts(normalize = True) * 100

In [ ]:
#String only methods- just for object columns
#must use str accessor

In [ ]:
title = emp['title']
title.head()

In [ ]:
#Make each value lowercase
title.str.lower().head()

In [ ]:
#The count string method
title.str.count('O').value_counts()

In [ ]:
title.str.count('POLICE').max()

In [ ]:
#The contains str method
title.str.contains('POLICE').mean()

In [ ]:
#len str method- returns the length of each string
title.str.len()

- Split str method
- splits each string into multiple separate strings based on a given separator
- empty space is default separator

In [ ]:
title.str.split()

In [ ]:
title.str.split(expand= True)

In [ ]:
title.str.split('AN',expand = True)

In [ ]:
s= 'POLICE SERGEANT'
s.split('AN')

In [ ]:
#Replace str method
title.str.replace('SENIOR','SR.')

In [ ]:
title.replace('SENIOR','SR.') #doesnot work itself unless we add regex= True

In [ ]:
#Selecting substrings with the brackers
title.str[:5]
title.str[5:15:3]

In [ ]:
#Datetime Attributes
start = bikes['starttime']
start.head()

In [ ]:
start.dt.year

In [ ]:
start.dt.month_name()
#start.dt.weekday
#start.dt.day

In [ ]:
start.dt.is_month_end

In [ ]:
#Offset aliases

In [ ]:
start.head(3)

#DataFrames
- index, columns, values, dtypes, shape, size

In [ ]:
#Review the index and columns
bikes.index

In [ ]:
bikes.columns

In [ ]:
#values- returns a 2d numpy array
bikes.values

In [ ]:
#shape- returns a tuple of the number of rows and columns
bikes.shape

In [ ]:
#size- returns the total number of elements/values in DataFrame
bikes.size

In [ ]:
#len- function returns the number of rows
len(bikes)

In [ ]:
bikes.dtypes
#the data type of all the values in the columns

In [ ]:
#Artithmetic DataFrame operations

In [ ]:
#Select only numeric data with select_dtypes
bikes.select_dtypes('int64')
#bikes.select_dtypes('float')

In [ ]:
bikes.select_dtypes('number')
#Use the string 'number' to select all numeric data

In [ ]:
#DataFrame comparison operators
bikes.select_dtypes('object') == 'Male'

In [ ]:
#Select only 64-bi float columns from the college dataframe
bikes.select_dtypes('float64').shape #tuple
bikes.select_dtypes('float64').shape[1] #column

In [ ]:
#info method
bikes.info()

In [ ]:
bikes.dtypes.value_counts()

In [ ]:
#axis 1 is column
#The axis parameter controls the direction of the operation
#Bydefault it works vertically i.e axis = 0, axis ='index'
#changing to 1 means to go horizntally
#eg: emp.sum(axis=1 or axis = 'columns')

In [ ]:
#Non- Aggregation methods
#abs, round, cummin, cummax,cumsum

In [ ]:
#numeric dataframe methods

In [39]:
bikes.describe()

,trip_id,starttime,stoptime,tripduration,latitude_start,longitude_start,dpcapacity_start,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation
count,5.008900e+04,50089,50089,50089.000000,50083.000000,50083.000000,50083.000000,50077.000000,50077.000000,50077.000000,50089.000000,50089.000000,50089.000000,50089.000000
mean,9.472308e+06,2016-03-08 23:07:35.507896064,2016-03-08 23:19:32.366687232,716.867755,41.900007,-87.644642,21.340215,41.900581,-87.644851,21.241708,62.608237,8.148827,7.070111,-9239.626870
min,7.147000e+03,2013-06-28 19:01:00,2013-06-28 19:17:00,60.000000,41.744053,-87.802870,0.000000,41.744053,-87.802870,0.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,5.332773e+06,2015-05-25 21:46:00,2015-05-25 21:53:00,356.000000,41.881032,-87.654752,15.000000,41.881320,-87.654787,15.000000,52.000000,10.000000,6.900000,-9999.000000
50%,9.664991e+06,2016-05-22 16:39:00,2016-05-22 17:02:00,572.000000,41.891860,-87.641066,19.000000,41.893832,-87.641088,19.000000,66.900000,10.000000,10.400000,-9999.000000
75%,1.363219e+07,2017-04-13 12:56:49,2017-04-13 13:01:42,906.000000,41.919936,-87.630585,23.000000,41.921540,-87.629928,23.000000,75.900000,10.000000,12.700000,-9999.000000
max,1.753625e+07,2017-12-31 15:22:00,2017-12-31 15:26:00,86188.000000,42.064313,-87.560115,55.000000,42.064313,-87.559275,55.000000,96.100000,10.000000,42.600000,0.390000
std,4.914277e+06,NaN,NaN,1319.849896,0.034423,0.021512,7.634167,0.034634,0.021499,7.556756,48.151252,118.320794,178.937980,2648.862657

In [41]:
#calling describe on non-numeric columns

emp.describe(include='object')

In [42]:
#nuisance columns
#many methods do work with non-numeric data types
#use numeric_only = True #will only look at the numeric columns

In [45]:
#DataFrame Missing Value Methods
movie.isna().head()

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Pirates of the Caribbean: At World's End,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Spectre,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
The Dark Knight Rises,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Star Wars: Episode VII - The Force Awakens,True,True,True,True,False,False,False,False,False,False,...,True,True,False,True,False,True,True,True,True,False

In [46]:
movie.count()
# to find the number of missing valuse in each column

year               4810
color              4897
content_rating     4616
duration           4901
director_name      4814
director_fb        4814
actor1             4909
actor1_fb          4909
actor2             4903
actor2_fb          4903
actor3             4893
actor3_fb          4893
gross              4054
genres             4916
num_reviews        4867
num_voted_users    4916
plot_keywords      4764
language           4902
country            4911
budget             4432
imdb_score         4916
dtype: int64

In [47]:
movie.isna().sum() # to count the number of missing values

year               106
color               19
content_rating     300
duration            15
director_name      102
director_fb        102
actor1               7
actor1_fb            7
actor2              13
actor2_fb           13
actor3              23
actor3_fb           23
gross              862
genres               0
num_reviews         49
num_voted_users      0
plot_keywords      152
language            14
country              5
budget             484
imdb_score           0
dtype: int64

In [51]:
#percentage of missing values
movie.isna().mean().round(4) * 100

year                2.16
color               0.39
content_rating      6.10
duration            0.31
director_name       2.07
director_fb         2.07
actor1              0.14
actor1_fb           0.14
actor2              0.26
actor2_fb           0.26
actor3              0.47
actor3_fb           0.47
gross              17.53
genres              0.00
num_reviews         1.00
num_voted_users     0.00
plot_keywords       3.09
language            0.28
country             0.10
budget              9.85
imdb_score          0.00
dtype: float64

In [54]:
movie.notna().head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Pirates of the Caribbean: At World's End,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
Spectre,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [56]:
movie.dropna().head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

In [57]:
movie.dropna().shape

(3706, 21)

In [58]:
movie.dropna().isna().sum()

year               0
color              0
content_rating     0
duration           0
director_name      0
director_fb        0
actor1             0
actor1_fb          0
actor2             0
actor2_fb          0
actor3             0
actor3_fb          0
gross              0
genres             0
num_reviews        0
num_voted_users    0
plot_keywords      0
language           0
country            0
budget             0
imdb_score         0
dtype: int64

In [60]:
movie.dropna(subset=['year']).shape
#drops rows where only a particular column is missing

(4810, 21)

In [63]:
movie.fillna('FILLED')
#every missing value will be filled with the string FILLED
#filling missing value with a constant

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,FILLED,FILLED,FILLED,FILLED,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,FILLED,FILLED,Documentary,FILLED,8,FILLED,FILLED,FILLED,FILLED,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,Color,FILLED,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.0,FILLED,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,FILLED,7.7
The Following,FILLED,Color,TV-14,43.0,FILLED,FILLED,Natalie Zea,841.0,Valorie Curry,593.0,...,319.0,FILLED,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,FILLED,7.5
A Plague So Pleasant,2013.0,Color,FILLED,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.0,FILLED,Drama|Horror|Thriller,13.0,38,FILLED,English,USA,1400.0,6.3
Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,719.0,...,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,FILLED,English,USA,FILLED,6.3
My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,23.0,...,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

In [64]:
movie.fillna({'year':2009, 'color':'Color', 'duration': 199}) # year, color, duration haru ko \
#missing value will be filled by the mentioned things # this is using dictionary

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Star Wars: Episode VII - The Force Awakens,2009.0,Color,NaN,199.0,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
The Following,2009.0,Color,TV-14,43.0,NaN,NaN,Natalie Zea,841.0,Valorie Curry,593.0,...,319.0,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3
Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,719.0,...,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3
My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,23.0,...,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

In [66]:
mm= movie.mean(numeric_only = True)
mm

year               2.002448e+03
duration           1.070908e+02
director_fb        6.910145e+02
actor1_fb          6.494488e+03
actor2_fb          1.621924e+03
actor3_fb          6.312763e+02
gross              4.764451e+07
num_reviews        1.379889e+02
num_voted_users    8.264492e+04
budget             3.654749e+07
imdb_score         6.437429e+00
dtype: float64

In [67]:
movie.fillna(mm)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.000000,Color,PG-13,178.000000,James Cameron,0.000000,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.000000,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,723.000000,886204,avatar|future|marine|native|paraplegic,English,USA,2.370000e+08,7.9
Pirates of the Caribbean: At World's End,2007.000000,Color,PG-13,169.000000,Gore Verbinski,563.000000,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.000000,3.094042e+08,Action|Adventure|Fantasy,302.000000,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,3.000000e+08,7.1
Spectre,2015.000000,Color,PG-13,148.000000,Sam Mendes,0.000000,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.000000,2.000742e+08,Action|Adventure|Thriller,602.000000,275868,bomb|espionage|sequel|spy|terrorist,English,UK,2.450000e+08,6.8
The Dark Knight Rises,2012.000000,Color,PG-13,164.000000,Christopher Nolan,22000.000000,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.000000,4.481306e+08,Action|Thriller,813.000000,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,2.500000e+08,8.5
Star Wars: Episode VII - The Force Awakens,2002.447609,NaN,NaN,107.090798,Doug Walker,131.000000,Doug Walker,131.0,Rob Walker,12.0,...,631.276313,4.764451e+07,Documentary,137.988905,8,NaN,NaN,NaN,3.654749e+07,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.000000,Color,NaN,87.000000,Scott Smith,2.000000,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.000000,4.764451e+07,Comedy|Drama,1.000000,629,fraud|postal worker|prison|theft|trial,English,Canada,3.654749e+07,7.7
The Following,2002.447609,Color,TV-14,43.000000,NaN,691.014541,Natalie Zea,841.0,Valorie Curry,593.0,...,319.000000,4.764451e+07,Crime|Drama|Mystery|Thriller,43.000000,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,3.654749e+07,7.5
A Plague So Pleasant,2013.000000,Color,NaN,76.000000,Benjamin Roberds,0.000000,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.000000,4.764451e+07,Drama|Horror|Thriller,13.000000,38,NaN,English,USA,1.400000e+03,6.3
Shanghai Calling,2012.000000,Color,PG-13,100.000000,Daniel Hsia,0.000000,Alan Ruck,946.0,Daniel Henney,719.0,...,489.000000,1.044300e+04,Comedy|Drama|Romance,14.000000,1255,NaN,English,USA,3.654749e+07,6.3
My Date with Drew,2004.000000,Color,PG,90.000000,Jon Gunn,16.000000,John August,86.0,Brian Herzlinger,23.0,...,16.000000,8.522200e+04,Documentary,43.000000,4285,actress name in title|crush|date|four word tit...,English,USA,1.100000e+03,6.6

In [68]:
mm.to_dict()

{'year': 2002.4476091476092,
 'duration': 107.0907977963681,
 'director_fb': 691.01454092231,
 'actor1_fb': 6494.488490527602,
 'actor2_fb': 1621.9235162145626,
 'actor3_fb': 631.2763131003475,
 'gross': 47644514.531820424,
 'num_reviews': 137.98890486952948,
 'num_voted_users': 82644.92493897477,
 'budget': 36547486.02752708,
 'imdb_score': 6.437428803905615}

In [69]:
movie.fillna(mm)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.000000,Color,PG-13,178.000000,James Cameron,0.000000,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.000000,7.605058e+08,Action|Adventure|Fantasy|Sci-Fi,723.000000,886204,avatar|future|marine|native|paraplegic,English,USA,2.370000e+08,7.9
Pirates of the Caribbean: At World's End,2007.000000,Color,PG-13,169.000000,Gore Verbinski,563.000000,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.000000,3.094042e+08,Action|Adventure|Fantasy,302.000000,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,3.000000e+08,7.1
Spectre,2015.000000,Color,PG-13,148.000000,Sam Mendes,0.000000,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.000000,2.000742e+08,Action|Adventure|Thriller,602.000000,275868,bomb|espionage|sequel|spy|terrorist,English,UK,2.450000e+08,6.8
The Dark Knight Rises,2012.000000,Color,PG-13,164.000000,Christopher Nolan,22000.000000,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.000000,4.481306e+08,Action|Thriller,813.000000,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,2.500000e+08,8.5
Star Wars: Episode VII - The Force Awakens,2002.447609,NaN,NaN,107.090798,Doug Walker,131.000000,Doug Walker,131.0,Rob Walker,12.0,...,631.276313,4.764451e+07,Documentary,137.988905,8,NaN,NaN,NaN,3.654749e+07,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.000000,Color,NaN,87.000000,Scott Smith,2.000000,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.000000,4.764451e+07,Comedy|Drama,1.000000,629,fraud|postal worker|prison|theft|trial,English,Canada,3.654749e+07,7.7
The Following,2002.447609,Color,TV-14,43.000000,NaN,691.014541,Natalie Zea,841.0,Valorie Curry,593.0,...,319.000000,4.764451e+07,Crime|Drama|Mystery|Thriller,43.000000,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,3.654749e+07,7.5
A Plague So Pleasant,2013.000000,Color,NaN,76.000000,Benjamin Roberds,0.000000,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.000000,4.764451e+07,Drama|Horror|Thriller,13.000000,38,NaN,English,USA,1.400000e+03,6.3
Shanghai Calling,2012.000000,Color,PG-13,100.000000,Daniel Hsia,0.000000,Alan Ruck,946.0,Daniel Henney,719.0,...,489.000000,1.044300e+04,Comedy|Drama|Romance,14.000000,1255,NaN,English,USA,3.654749e+07,6.3
My Date with Drew,2004.000000,Color,PG,90.000000,Jon Gunn,16.000000,John August,86.0,Brian Herzlinger,23.0,...,16.000000,8.522200e+04,Documentary,43.000000,4285,actress name in title|crush|date|four word tit...,English,USA,1.100000e+03,6.6

In [77]:
df = pd.read_csv('missing_example.csv')
df

       day  orders  sales
0   Monday     NaN  21.43
1      NaN     5.0    NaN
2      NaN    10.0    NaN
3  Tuesday     NaN    NaN
4      NaN     3.0    NaN

In [80]:
df.fillna(method = 'ffill') #forward dill

C:\Users\Dell\AppData\Local\Temp\ipykernel_11452\3246812859.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill') #forward dill

       day  orders  sales
0   Monday     NaN  21.43
1   Monday     5.0  21.43
2   Monday    10.0  21.43
3  Tuesday    10.0  21.43
4  Tuesday     3.0  21.43

In [81]:
df.fillna(method = 'bfill') #backward fill

C:\Users\Dell\AppData\Local\Temp\ipykernel_11452\3782538502.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill') #backward fill

       day  orders  sales
0   Monday     5.0  21.43
1  Tuesday     5.0    NaN
2  Tuesday    10.0    NaN
3  Tuesday     3.0    NaN
4      NaN     3.0    NaN

In [83]:
college = pd.read_csv ('college.csv', index_col = 'instnm')
college.head(3)

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370

In [84]:
college.sort_values('city')

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,
Northern State University,Aberdeen,SD,0.0,0.0,0.0,0,480.0,475.0,0.0,1693.0,...,0.0219,0.0425,0.0024,0.1872,1,0.2272,0.4303,0.1766,33600,24847
Grays Harbor College,Aberdeen,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,1121.0,...,0.0937,0.0009,0.0250,0.1820,1,0.4530,0.1502,0.5087,27000,11490
Presentation College,Aberdeen,SD,0.0,0.0,0.0,1,440.0,480.0,0.0,705.0,...,0.0284,0.0142,0.0823,0.2865,1,0.4829,0.7560,0.3097,35900,25000
McMurry University,Abilene,TX,0.0,0.0,0.0,1,450.0,460.0,0.0,953.0,...,0.0105,0.0042,0.0010,0.1123,1,0.4728,0.6601,0.1807,37500,25000
Abilene Christian University,Abilene,TX,0.0,0.0,0.0,1,530.0,545.0,0.0,3572.0,...,0.0454,0.0423,0.0045,0.0468,1,0.2595,0.5527,0.0381,40200,25985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yukon Beauty College Inc,Yukon,OK,0.0,0.0,0.0,0,NaN,NaN,0.0,25.0,...,0.0000,0.0000,0.0000,0.0000,1,0.9259,0.8148,0.4706,PrivacySuppressed,PrivacySuppressed
Arizona Western College,Yuma,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,7218.0,...,0.0109,0.0313,0.0296,0.6550,1,0.5581,0.0469,0.3166,27000,5500
Zane State College,Zanesville,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,2063.0,...,0.0218,0.0000,0.2399,0.5730,1,0.3645,0.3434,0.3185,23800,13960.5
Ohio University-Zanesville Campus,Zanesville,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,1944.0,...,0.0370,0.0036,0.0206,0.5561,1,0.3947,0.5245,0.3560,39600,21250
Mid-EastCTC-Adult Education,Zanesville,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,305.0,...,0.0262,0.0000,0.0066,0.3902,1,0.3712,0.4991,0.4961,29800,6943

In [85]:
#sort from greatest to least
college.sort_values('ugds', ascending = False)

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,
University of Phoenix-Arizona,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,151558.0,...,0.1131,0.0131,0.3152,0.0000,1,0.6009,0.5920,NaN,NaN,33000
Ivy Tech Community College,Indianapolis,IN,0.0,0.0,0.0,0,NaN,NaN,0.0,77657.0,...,0.0209,0.0003,0.0354,0.6350,1,0.5153,0.3384,0.4780,29400,13000
Miami Dade College,Miami,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,61470.0,...,0.0035,0.0521,0.0280,0.5824,1,0.5399,0.0921,0.3503,30100,8500
Lone Star College System,The Woodlands,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,59920.0,...,0.0281,0.0190,0.0292,0.6863,1,0.3405,0.1984,0.3201,32900,11000
Houston Community College,Houston,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,58084.0,...,0.0151,0.0911,0.0198,0.7027,1,0.6680,0.3348,0.4751,32500,10750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAE Institute of Technology San Francisco,Emeryville,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,9500
Rasmussen College - Overland Park,Overland Park,KS,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,21163
National Personal Training Institute of Cleveland,Highland Heights,OH,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,6333
Bay Area Medical Academy - San Jose Satellite Location,San Jose,CA,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,PrivacySuppressed
Excel Learning Center-San Antonio South,San Antonio,TX,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,12125

In [87]:
college.sort_values(['stabbr','ugds'])
#simulataneously sort two or more columns

,city,stabbr,hbcu,menonly,womenonly,relaffil,satvrmid,satmtmid,distanceonly,ugds,...,ugds_2mor,ugds_nra,ugds_unkn,pptug_ef,curroper,pctpell,pctfloan,ug25abv,md_earn_wne_p10,grad_debt_mdn_supp
instnm,,,,,,,,,,,,,,,,,,,,,
Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,27.0,...,0.0370,0.0000,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
Alaska Christian College,Soldotna,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,68.0,...,0.0147,0.0000,0.1324,0.0735,1,0.8868,0.6792,0.2264,NaN,PrivacySuppressed
Ilisagvik College,Barrow,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,109.0,...,0.0000,0.0183,0.0000,0.6239,1,0.1323,0.0000,0.6498,24900,PrivacySuppressed
Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,275.0,...,0.0945,0.0000,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
Alaska Career College,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,479.0,...,0.0334,0.0000,0.0104,0.0000,1,0.7078,0.7860,0.5612,28700,8994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sheridan College,Sheridan,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,1976.0,...,0.0288,0.0121,0.0000,0.3608,1,0.1724,0.1113,0.3266,30900,7500
Casper College,Casper,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,2449.0,...,0.0163,0.0078,0.0269,0.3250,1,0.2188,0.1455,0.3447,34800,10764
Western Wyoming Community College,Rock Springs,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,2768.0,...,0.0184,0.0246,0.0004,0.6004,1,0.1708,0.1363,0.4069,33600,8000
Laramie County Community College,Cheyenne,WY,0.0,0.0,0.0,0,NaN,NaN,0.0,3170.0,...,0.0054,0.0066,0.0208,0.4555,1,0.2626,0.4082,0.3638,32500,9750
University of Wyoming,Laramie,WY,0.0,0.0,0.0,0,535.0,540.0,0.0,9910.0,...,0.0260,0.0411,0.0545,0.1653,1,0.2370,0.3646,0.2393,46100,18750